---
import { config as mainConfig } from "@/config/main";
import { config as pageConfig } from "@/config/pages/index";
const config = {
  main: mainConfig,
  page: pageConfig,
};
import { productos } from "@/config/productos";

import { cn } from "@/lib/utils";
import { Icon } from "astro-icon/components";

import Layout from "@/layouts/Layout.astro";
import Header from "@/components/layout/Header.astro";
import Footer from "@/components/layout/Footer.astro";

import Content80 from "@/components/section/new/Content80.astro";
import ProportionalBento from "@/components/section/new/ProportionalBento.astro";

import Hero from "@/components/section/new/page/index/Hero.astro";

import { Button } from "@/components/ui/button";
import { Accordion } from "@/components/my-ui/accordion";
import { Input } from "@/components/ui/input";
import { LogoBelt } from "@/components/section/new/LogoBelt";
import LabeledAccordion from "@/components/my-ui/LabeledAccordion.astro";

import { HeaderNav } from "@/components/layout/HeaderNav";
import { DisplayCarousel } from "@/components/my-ui/page/index/display-carousel";
import { ProductCarousel } from "@/components/my-ui/product-carousel";
import { Badge } from "@/components/ui/badge";

function randomIntFromInterval(min: number, max: number) {
  // min and max included
  return Math.floor(Math.random() * (max - min + 1) + min);
}
---

<Layout title="Inicio" class={cn("w-full")}>
  <Header />

  <main class={cn("col-[fullbleed]", "grid grid-cols-subgrid")}>
    <section class={cn("col-[fullbleed]")}>
      <!-- <img src="/imagenes/panel-principal/1.jpg" class="object-cover h-128 w-full" /> -->
      <DisplayCarousel
        images={[
          "/imagenes/marketing/1.jpg",
          "/imagenes/marketing/2.jpg",
          "/imagenes/marketing/3.jpg",
          "/imagenes/marketing/4.jpg",
          "/imagenes/marketing/5.jpg",
          "/imagenes/marketing/6.jpg",
          "/imagenes/marketing/7.jpg",
          "/imagenes/marketing/8.jpg",
          // TODO
          // "/imagenes/marketing/9.jpg",
          "/imagenes/marketing/10.jpg",
        ]}
        client:only="react"
      />
    </section>

    <section
      class="col-[fullbleed] md:col-[content] flex flex-col items-center"
    >
      <h1 class="text-2xl underline-offset-8 underline text-center pt-8 pb-12">
        Listado de productos
      </h1>

      <div
        class={cn(
          "grid grid-cols-2 sm:grid-cols-3 md:grid-cols-3 lg:grid-cols-4",
          "gap-x-4 gap-y-12"
        )}
      >
        {
          productos
            // .sort((a, b) => Math.random() * 2 - 1)
            .map((producto) => {
              return (
                <a class="hover:no-underline hover:cursor-pointer" href={`/productos/${producto.id}`}>
                  <div class="flex flex-col gap-1">
                    <ProductCarousel
                      imagenes={producto.imagenes}
                      client:only="react"
                    />
                    <div class="flex flex-wrap gap-1">
                      {producto.categorias.map((categoria) => (
                        <Badge
                          variant="default"
                          className={cn("bg-accent text-accent-foreground rounded-none", {
                            "bg-red-400": categoria === "oferta",
                          })}
                        >
                          {categoria}
                        </Badge>
                      ))}
                    </div>
                    <h2>{producto.nombre}</h2>
                    <p>{producto.precio}</p>
                  </div>
                </a>
              );
            })
        }
      </div>
    </section>
  </main>

  <footer>???</footer>
</Layout>
